#add values save this file as .env, it's already added to .gitignore

MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
API_LAYER_KEY=
MAIL_API_KEY=
OUTLOOK_MAIL_USERNAME=
OUTLOOK_MAIL_PASSWORD=
ADMIN_MAIL=
DB_USER=
DB_PASSWORD=
